 body {
   margin: 0px;
 }

 main {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 nav a {
   display: flex;
   justify-content: center;
   padding: 20px;
   box-shadow: -4px 4px 8px rgba(228, 93, 93, 0.8);
   color: rgba(200, 7, 30, 0.8);
   text-decoration: none;
 }

 h3 {
   display: flex;
   justify-content: center;
   padding: 20px;
 }

 .theam {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 5px solid rgb(243, 159, 159);
   padding: 1.5em;
 }

 body {
   margin: 0px;
 }

 .container {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .nav-bar {
   width: 20%;
   height: 100vh;
   background-color: rgb(243, 159, 159);
   position: fixed;
   top: 0px;
   left: 0px;
 }

 nav a:hover {
   background-color: rgba(228, 93, 93, 0.8);
   color: whitesmoke;
 }