      body{
        font-family: "sans-serif";
        color: #222;
        background-color: ghostwhite;
      }
      /* h1{
        font-size: 28px;
        font-weight: 600;
      } */
      h2{
        font-size: 26px;
        font-weight: 400;
      }
      h3{
        font-size: 24px;
        font-weight: 300;
      }
      p{
        font-size: 18px;
        color: #444;
        line-height: 1.5em;
      }
   .standard {
    color: lightcoral
   }